CT_EXPERIMENTAL=y
CT_PREFIX_DIR="${CT_TOP_DIR}/builds/${CT_TARGET}"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/local-patches"
CT_TARGET_CFLAGS="-mlongcalls"
CT_ARCH_xtensa=y
CT_XTENSA_CUSTOM=y
CT_ARCH_XTENSA_CUSTOM_NAME="esp32"
CT_ARCH_XTENSA_CUSTOM_OVERLAY_LOCATION="${CT_TOP_DIR}/overlays"
CT_TARGET_VENDOR="esp32"
CT_LIBC_NEWLIB_V_2_2_0=y
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_CC_LANG_CXX=y
CT_CC_GCC_V_5_2_0=y
CT_CC_GCC_ENABLE_CXX_FLAGS="-fno-rtti -ffunction-sections"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--enable-threads=posix"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--disable-libstdcxx-verbose --enable-threads=posix --enable-gcov-custom-rtio"
# CT_CC_CXA_ATEXIT is not set
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
# CT_CC_GCC_LDBL_128 is not set
CT_DEBUG_gdb=y
CT_MULTILIB=y

CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
CT_GDB_CROSS_PYTHON=y
CT_GDB_CROSS_PYTHON_BINARY="/usr/bin/python3"
